{% extends 'base.html' %}
<html>
    <style>
        h2{
            text-align: center;
        }
        .blog{
            
            height: 380px;
            border: 5px solid black; 
            width: 25%;
            background-color: white;
            border-radius: 8px;
            margin-top: 30px;
            margin-bottom: 10%;
            margin-right: 20px;
            float: right;
        }
        .leftmsg{
            border: 1px solid black;
            background-color: white;
            float:left;
            width: 150px;
            font-size: 20px;
            border-radius: 5px;
            color: maroon;
        }
        .rightmsg{
            border: 1px solid black;
            background-color: white;
            font-size: 20px;
            float:right;
            width: 150px;
            border-radius: 5px;
            color: black;
        }
    </style>
    <body>
        {% block content %}
        <div>
            <h2><b style="font-size: 30px;">WELCOME TO ORCHIDS THE INTERNATIONAL SCHOOL</b>
            </h2>
        </div>

        <br>
        <div style="width: 70%; float: left; margin-left: 25px;">
        <p style="font-size: 20px;">
            Ever since the blossoming of our first ORCHIDS in Hyderabad 18 years ago, to a chain of 34 International Schools, we have impacted more than 25,000 lives, setting a new benchmark for quality of education. <br>ORCHIDS The International School is one of the top International Schools, blooming all over Bengaluru, Mumbai, Hyderabad, Pune, Kolkata, Chennai.

We believe in “Shaping minds, Touching lives, Building Second Homes”.<br>

Along with academic excellence, we also lay a strong emphasis on personality development and employ a number of innovative ways to inculcate strong values, building responsible individuals and future-ready global citizens.
        </p>
       </div>
       <div class="blog">
           <form action='main_portal' method='POST'>
               {% csrf_token %}
               <h4 style="text-align: center; font-size: 30px;"> 
                   Chat with Orchids International
               </h4>
               
            <ul style="list-style-type: none;">
                <li><div class="leftmsg">How can we help u?</div></li>
            <br>
            {% if flag %}
            <li><div class="leftmsg">{{respond}}</div></li>
            <br>
            {% endif %}
            <li><div class="rightmsg" value="post"></div></li><br>
            
            </ul>
           <br><br><br><br><br><br>
           <input type="text"  name="post" style="bottom: 0px; margin-left:10px; float:left; width:75%; height: 30px; font-size: 20px;">
            <button class="send" style="margin-bottom: 0px; position:fixed; margin-right: 20px; float:right; height: 30px;">SEND</button>
            
           </form>
          
       </div>
       {% endblock %}
    </body>
</html>